html, body{
    min-height: 100vh;
    #root{
        .ant-card {
            margin-top: 5px;
        }
        #details{
            margin-top: 5px;
        }
        .user-card{
            margin-top: 5px;
            
        }
        .user-detail{
            text-align: center;
        }
        img{
            max-width: 100%;
        }
        min-height: 100vh;
        .page{
            min-height: 100vh;
        }
        //小于576px
        .wrap{
            margin: 0 5px;
            .ant-col-xs-24{
                .logo{
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }
        @media all and (min-width:576px){
            .wrap{
                margin: 0 10px;
            }
        }
        @media all and (min-width:768px){
            .wrap{
                margin: 0 15px;
            }
        }
        @media all and (min-width:992px){
            .wrap{
                margin: 0 20px;
            }
        }
        @media all and (min-width:1200px){
            .wrap{
                max-width: 980px;
                margin: auto;
            }
        }
        @media all and (min-width:1600px){
            .wrap{
                max-width: 1200px;
            }
        }
        #footer{
            padding: 24px 0;
        }
        #header{
            padding: 0;
        }
        #index_card{
            margin-top: 5px;
            .ant-card-head-title{
                padding: 0;
            }
            .ant-menu-horizontal{
                border-bottom: none;
            }
            .ant-card-head{
                margin-top: -1px;
            }
        }
        .topic_tag{
            margin: 0 8px;
        }
        .from_now{
            text-align: right;
        }
        .index-pagination{
            display: flex;
            padding: 10px 5px;
            ul{
                margin: auto;
            }
        }
    }
}
